@tailwind base;
@tailwind components;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white;
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-xl bg-white/5 border border-white/10;
  }
}
